.recentMusic {
    padding: 1rem;
    color: var(--themeWhite);
}
.recentMusic__tile__container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}
@media screen and (min-width : 1200px) {
    .recentMusic__tile__container {
        grid-template-columns: auto auto auto;
    }
    .recentMusic {
        padding: 2rem;
    }
}