.content {
  background-color: var(--themeBackground);
  width: 65vw;
  height: 100vh;
  overflow: auto;
  padding-bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .content {
    width: 75vw;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    width: 80vw;
  }
}

