.bottom {
    background-color: var(--themeGrey);
    color: var(--themeWhite);
    display: flex;
    justify-content: stretch;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    padding: 1rem;
}