.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}
.middle__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
}

.middle__upper__play {
  height: 3rem !important;
  width: 3rem !important;
}
