@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --themeBlack : #000000;
  --themeSecondaryBlack : #101010;
  --themeGrey : #1D1D1D;
  --themeGreen : #64D762;
  --themeBlue : #2E77D0;
  --themeWhite : #ffffff;
  --themeLightGrey : #404A4C;
  --themeBackground : #131313;
  --themeSubtitleColor: #ABABAB;
}